
.main {
  height: 100vh;
  background-color: #282c34;
  color: white;
  padding: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  background-color: #09d3ac;
  height: 80vh;
  width: 80vh;

  display: flex;
  flex-direction: column;

  .column {
    height: 10em;

    display: flex;
    flex-direction: row;

    .square {
      background-color: #282c34;
      width: 10em;
      margin: .125em;
      border-radius: .25em;

      transition: 0.1s;

      &:hover {
        background-color: #3a404b;
        transform: scale(1.1);
      }
    }
  }
}